/** @format */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font: inherit;
  font-weight: normal;
  line-height: inherit;
  // -webkit-font-smoothing: inherit;
  // -moz-osx-font-smoothing: inherit;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 0.9rem;
  width: 100%;
  line-height: 1.15;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-size-adjust: 100%;
}
header {
  .navbar {
    // position: fixed;
    // padding-left: 6em;
    // padding-right: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
    font-size: 1rem;
    height: 11.12em;
    max-height: 12rem;
    background: transparent;
    .nav-logo {
      display: flex;
      z-index: 1000;
      font-size: 2rem;
      align-items: center;
      fill: #ccf381;
      color: #ccf381;
      text-decoration: none;
    }
    .sidebarIcon {
      svg {
        fill: #4831d4;
        position: relative;
        z-index: 1000;
      }
    }
    .sidebar {
      top: 1.39rem;
      right: 3.41em;
      width: 22.223em;
      font-size: 1.1em;
      position: absolute;
      z-index: 998;
      padding: 3.473em;
      background-color: #ffffff;
      // ::before {
      //   top: 0;
      //   right: 0;
      //   bottom: 0;
      //   left: 0;
      //   /* -webkit-transition: 0.3s; */
      //   transition: 0.3s;
      //   width: 100%;
      //   height: 100%;
      //   content: "";
      //   position: absolute;
      //   background-color: rgba(213, 158, 158, 0.107);
      //   /* -webkit-transform-origin: top right; */
      //   -ms-transform-origin: top right;
      //   transform-origin: top right;
      // }
      // -webkit-transition: opacity 0.4s, box-shadow 0.4s;
      // transition: opacity 0.4s, box-shadow 0.4s;
      ul {
        list-style: none;
        padding: 0;
        li {
          padding: 1rem;
          display: flex;
          align-items: center;
          a {
            display: flex;
            text-decoration: none;
            align-items: center;
            span {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}

section {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  padding-bottom: 4.17rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  .boxes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin-top: calc(11.12em + 2em);
    article {
      display: block;
      text-align: left;
      position: relative;
      .box.one {
        position: relative;
        .heading {
          color: #ccf381;
          font-weight: 900;
          line-height: 1.1;
          letter-spacing: -0.03em;
          margin: 0;
          span {
            color: #fff;
          }
        }
        .bolid {
          color: #fff;
          line-height: 1.6;
          // margin-right: 0;
        }
      }
    }
    .box.two {
      margin: 0;
      z-index: 1;
      width: 23.334em;
      height: 24.67em;
      position: relative;
      border: 0.115rem solid #fff;
      .figure {
        width: inherit;
        display: block;
        height: inherit;
        margin-top: -2.435em;
        background-color: #fff;
        background-size: cover;
        background-position-x: center;
        margin-left: -2.2em;
        background-image: url(../../public/images/NuraddinovA.png);
      }
    }
  }
  .text.bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      line-height: 1.5;
      display: flex;
      justify-content: space-between;
      color: #ccf381;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        width: calc(50% - 1.731em);
      }
    }
  }
}
@media (max-width: 580px) {
  section {
    background: linear-gradient(180deg, #4831d4 80%, #ccf381 20%);
    .boxes {
      padding: 0 15vw;
      margin-top: calc(11.12em + 6em);
      article {
        .box.one {
          .heading {
            font-size: 5em;
          }
        }
      }
    }
    .text.bottom {
      padding: 0 15vw;
    }
  }
}
@media (min-width: 581px) and (max-width: 700px) {
  section {
    .boxes {
      padding: 0 7rem;
    }
  }
}
@media (min-width: 581px) {
  section {
    background: linear-gradient(90deg, #4831d4 67%, #ccf381 33%);
    .boxes {
      margin-top: calc(11.12em + 2em);
      article {
        .box.one {
          .heading {
            font-size: 4.4rem;
          }
          .bolid {
            font-size: 1.3em;
          }
        }
      }
    }
    .text.bottom {
      padding: 0 7rem;
      ul {
        width: 65%;
      }
    }
  }
}
@media (max-width: 700px) {
  html {
    font-size: 0.562rem;
  }
  header {
    .navbar {
      position: absolute;
      padding-left: 3em;
      padding-right: 3em;
      .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
        font-size: 2rem;
      }
    }
  }
  section {
    font-size: 0.95em;
    .boxes {
      article {
        .box.one {
          .bolid {
            max-width: 20em;
          }
        }
        .box.two {
          margin-right: 0;
        }
      }
    }
    .text.bottom {
      font-size: 1.2em;
    }
  }
}
@media (min-width: 701px) and (max-width: 1600px) {
  html {
    font-size: 1vw;
  }
  .boxes {
    max-width: 1500px;
  }
  .text.bottom {
    max-width: 1500px;
  }
}
@media (min-width: 701px) {
  header {
    .navbar {
      padding-left: 6em;
      padding-right: 6em;
      position: fixed;
    }
  }
  section {
    .boxes {
      padding: 0 10rem;
      article {
        margin-top: 3.5em;
        .box.one {
          .heading {
            max-width: 30vw;
          }
          .bolid {
            max-width: 701px;
            width: 32vw;
          }
        }
      }
      .box.two {
        margin-right: calc(6em + 4em);
      }
    }
    .text.bottom {
      padding: 0 10rem;
      // margin-top: auto;
      padding-right: 6em;
      ul {
        width: 41%;
        font-size: 0.965em;
      }
    }
  }
}
